body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: grey;
    padding: 1%;
}
.navLinks{
    display: flex;
    flex-direction: row;
}
.navLink{
    margin-right: 10px;
}

.navLink:hover{
    text-decoration: underline;
}



/* home page */

.homepage{
    height: 100%;
    background-color: rgba(128, 128, 128, 0.322);   
}

.homepage>h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.homepage>h2{
    text-align: center;
}

/* shop */

.inventoryDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto 3% auto;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 1px 7px 16px 0px #9e9e9e;
}

.inventoryContainer{
    padding: 3%;
}

.inventoryDiv>img{
    height: 50%;
    width: auto;
    padding: 3%;
}

.about{
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 600px){
    .inventoryDiv{
        flex-direction: column;
        justify-content: center;
    }
}